body{
    background:gray;
}

.logo {
    margin: 0;
    font-size: 2rem;
    color: white;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.342);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0.8rem;
  }
  
  .topmenu{
    font-size: 1.5rem;
    text-decoration: none;
    margin-right:50px;
    color:black;
    cursor:pointer;
}
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left:auto;
  }
  
  .nav-links li {
    margin: 0 20px;
  }



  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
  }
  
  td {
    width: calc(100% / 3);
    height: 33.3%;
    padding: 10px;
  }
  
  img {
    max-width: 100%;
    max-height: 300px;
  }

td:first-child {
  width: 100%;
  height: 100%;
  padding: 10px;
}

td:not(:first-child) {
  width: 20%;
  height: 30%;
  padding: 10px;
}



.searchArea{
  width:700px;
  height:70px;
  background: rgba(0, 0, 0, 0.342);
  margin:auto;
  border-radius:5px;
  margin-top:40px;
  padding: 10px;
  box-sizing: border-box;
  width: calc(100%-100px);
}

.searchArea input{
  border:none;
  width:600px;
  height:50px;
  background: #fff;
  color:rgb(19, 18, 18);
  padding-left:10%;
}

.searchArea input[type="search"]{
  padding: 10px;
  box-sizing: border-box;
}

.btn_search{
  width: 60px;
  height: 50px;
  color:rgba(0, 0, 0, 0.342);
  font-weight:bold;
  cursor:pointer;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop {
  width: 30%;
  margin: 50px;
}

.footer-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 50%;
  margin: 200px;
}

.footer-table td, .footer-table th {
  border: 1px solid #ddd;
  padding: 70px;
  text-align: center;
  width: 50%;
}