body{
    background:gray;
}

.recipe-category {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-top: 50px;
  margin-left: 250px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: -3%;
  margin-left: 16%;
  margin-right: 16%;

}

.recipe-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% auto;
  margin-top: 120px;
  width: 100%;
  height: 7%;
}

.recipe-image-container {
  display: flex;
  justify-content: center;
}

.recipe-image {
  /* 필요한 경우 너비(width)와 높이(height) 속성 설정 */
  /* 예시: width: 200px; height: 200px; */
}

.recipe-details {
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.recipe-name {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: wheat;
  cursor: default;
}

.recipe-ingredients {
  text-decoration: none;
  color: wheat;
  font-size: 14px;
}

.recipe-time {
  text-decoration: none;
  color: wheat;
  font-size: 12px;
}


.recipe-cell.recipe-cell-0::before {
  content: '';
  position: absolute;
  top: 23%;
  left: 15%;
  width: 8%;
  height: 8%;
  background-image: url('/public/crown1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-35deg);
}

.recipe-cell.recipe-cell-1::before {
  content: '';
  position: absolute;
  top: 23%;
  left: 37.5%;
  width: 8%;
  height: 8%;
  background-image: url('/public/crown2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-35deg);
}

.recipe-cell.recipe-cell-2::before {
  content: '';
  position: absolute;
  top: 23%;
  left: 60.2%;
  width: 8%;
  height: 8%;
  background-image: url('/public/crown3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-35deg);
}